<section id="edit-post" class="container">
{{> post-form id=form.id action=form.action heading=form.heading error=form.error title=form.title description=form.description content=form.content button=form.button}}
</section>
