<section id="homepage" class="container">
    <main id="homepage-content">
        {{#each cards}}
            {{> card title=this.title image=this.image content=this.content links=this.links }}
        {{/each}}
    </main>
</section>
