.blog-post-container {
    width: 80%;
    margin: 0 auto;
}

.blog-post-new-link {
    display: inline-block;
    padding: 0.5em;
    margin-bottom: 1em;
    text-decoration: none;
    color: white;
    background: black;
}

.blog-post {
    padding: 1em;
    margin: 1em 0;
    background: var(--secondary-bg);
    box-shadow: 0 0 17px #ccc;
}

#blog-page {
    width: 700px;
}

#blog-post {
    width: 700px;
    box-shadow: 0 0 17px #ccc;
}

.blog-post-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-post-title {
    font-size: 1.5rem;
}

.blog-post-date {
    font-size: 0.9rem;
}

.blog-post-body {
    margin-bottom: 1em;
}

.blog-post-description {
    margin-top: 0.5em;
}

.blog-post-author {
    font-size: 0.9rem;
}

.blog-post-link {
    color: var(--active-color);
    text-decoration-color: var(--active-color);
}

.blog-navigation {
    display: flex;
    justify-content: space-between;
}

.blog-navigation-link {
    padding: 0.5em 1em;
    background: black;
    color: white;
    text-decoration: none;
}

.post-content {
    background: var(--secondary-bg);
    padding: 2em;
    margin-bottom: 1em;
}

.post-content h1 {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.post-content p {
    font-size: 0.9rem;
    margin: 0.5em 0;
    text-align: justify;
}

.post-content ul,
ol {
    list-style-position: inside;
}

.post-content img {
    width: 70%;
    height: auto;
}

.post-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.post-action-edit {
    margin-right: 1em;
    padding: 0.5em 1em;
    text-decoration: none;
    background: var(--secondary-fg);
    color: var(--secondary-bg);
}

.post-action-delete {
    border-style: none;
    padding: 0.8em 1em;
    cursor: pointer;
    background: var(--error-color);
    color: var(--primary-fg);
}

@media screen and (max-width: 576px) {
    .blog-post-container {
        width: 100%;
    }

    .blog-post {
        margin: 1em;
    }

    .blog-post-new-link {
        margin: 1em;
    }

    .blog-navigation {
        margin: 0 1em;
    }

    .blog-post-title {
        font-size: 1.2rem;
    }

    .blog-post-description {
        font-size: 1rem;
    }

    .post-content img {
        width: 100%;
    }

    .post-content pre {
        overflow-x: auto;
    }

    #blog-post {
        width: 90%;
    }

    #blog-page {
        width: 90%;
    }
}

