@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    /* colors */
    --primary-bg: #ddd;
    --secondary-bg: #fff;
    --grey-bg: #f5f2f0;
    --primary-fg: #fff;
    --secondary-fg: #2e2e2e;
    --active-color: #888;
    --error-color: #dc3545;
    --success-color: #3db057;

    /* font options */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--primary-bg);
    z-index: 1;
}

.container {
    overflow: hidden;
    margin: 6em auto;
    width: 75%;
}

.rounded {
    border-radius: 50%;
}

.text-center {
    text-align: center;
}

.error-message {
    color: var(--error-color);
    text-align: center;
    margin-bottom: 1em;
}

.success-message {
    color: var(--success-color);
    text-align: center;
    margin-bottom: 1em;
}

@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
}
